*, html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(45deg, rgba(4, 179, 135, 0.897), rgba(92, 1, 211, 0.87));
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.content{
    padding: 30px 15px;
}

.wrapper{
    max-width: 1224px;
    margin: 0 auto;
}